<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"></loading>
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="e" class="alert alert-danger" role="alert">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
        <div class="input-group mb-3">
            <input v-model="room.title" type="text" class="form-control" placeholder="Введите название комнаты">
            <div class="input-group-append">
                <button @click="submit()" class="btn btn-primary" type="button">Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    data(){
        return{
            id: null,
            room: [],
            isLoading: false,
            message: null,
            errors:[],
            e: false,
        }
    },
    created(){
        if(Number(this.$route.params.id) > 0){
            this.id = Number(this.$route.params.id) 
            this.getRoom(this.id)
        }
    },
    watch: {
        '$route' () {
            this.room.title = null
            this.id = null
        }
    },
    components: {Loading},
    methods:{
        ...mapActions({
            get_room: 'crm/get_room',
            create_room: 'crm/create_room',
            update_room: 'crm/update_room'
        }),
        getRoom(id){
            this.get_room({
                context: this,
                payload:{id:id}
            }).then(() => {
                //this.isLoading = false;
            })
        },
        submit(){
            if(this.room.title){
                this.isLoading = true
                if(this.id != null){
                    this.update_room({
                        context: this,
                        payload: {title: this.room.title, id: this.id}
                    }).then(() => {
                        this.timer()
                        this.isLoading = false;
                    })
                }else
                {
                    this.create_room({
                        context: this,
                        payload: {title: this.room.title}
                    }).then(() => {
                        this.timer()
                        this.room.title = null
                        this.isLoading = false;
                    })
                }
            }
        },
        timer(){
            setTimeout(function () { this.message = null, this.e = false }.bind(this), 7000)
        },
    },
}
</script>

<style scoped>
input{
    height: 47px;
}
</style>