<template>
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="modal" class="modal" id="open-modal">
            <div class="modal-container">
                <p>Безвозвратное удаление! Пожалуйста подтвердите действие</p>
                <a @click="destroy(room_id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                <a @click="closeModal()" class="label theme-bg text-white f-12">Отменить</a>
            </div>
        </div>
        <div class="card Recent-Users">
            <div class="card-header">
                <h5><button @click="submit()" class="btn btn-primary">Показать все комнаты</button></h5>
                <loading :active.sync="isLoading"></loading>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-wrapper">
                        <thead>
                            <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название комнаты</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(room, index) in rooms" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{room.title}}</h6>
                                </td>
                                <td>
                                    <a @click="showModal(room.id)" class="col-md-12 label bg-danger text-white f-12">Удалить</a>
                                    <router-link :to="{name: 'room_update', params:{id:room.id}}" class="label theme-bg text-white f-12">Изменить</router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data () {
            return {
                rooms: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                room_id: null,
            }
        },
        components: {Loading},
        created(){this.submit()},
        methods: {
            ...mapActions({
                get_rooms: 'crm/rooms',
                destroy_room: 'crm/destroy_room',
            }),
            submit () {
                this.isLoading = true;
                this.get_rooms({
                    context: this
                }).then(() => {
                    this.isLoading = false;
                })
            },
            showModal(id){
                this.modal = true
                this.room_id = id
            },
            closeModal(){
                this.modal = false
                this.room_id = null
            },
            destroy(id){
                this.modal = false
                this.isLoading = true;
                this.destroy_room({
                    context: this,
                    payload:{id:id}
                }).then(() => {
                    this.isLoading = false;
                    this.submit()
                    setTimeout(function () { this.message = null }.bind(this), 9000)
                })
            }
        }
    }
</script>


<style lang="scss" scoped>
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
</style>