<template>
    <div class="row d-flex justify-content-center">
        <div id="empty">
            <h1>
                <span>З</span>
                <span>д</span>
                <span>е</span>
                <span>с</span>
                <span>ь</span>
                <span> </span>
                <span>п</span>
                <span>у</span>
                <span>с</span>
                <span>т</span>
                <span>о</span>
            </h1>
        </div>
    </div>
</template>
