<template>
    <div class="row pl-3">
        <div v-if="message" id="alert" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <div v-if="alert" id="alert" class="alert alert-danger" role="alert">
            {{alert}}
        </div>
        <div v-if="e" id="alert" class="alert alert-danger" role="alert">
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['e', 'message', 'errors', 'alert'], 
}
</script>