<template>
    <div class="container">
        <router-view name="home"></router-view>
		<div class="content">
			<div class="pattern pattern--hidden"></div>
			<div class="wrapper">
				<room-component  v-for="(room, index) in rooms" 
					:key="index" 
					:room="room">
				</room-component>
			</div>
		</div>
		<div v-if="meta.pagination.total_pages > 1" class="row justify-content-center">
			<nav aria-label="Page navigation example" class="pag">
				<ul class="pagination">
					<li class="page-item" :class="{'disabled':!meta.pagination.links.previous}">
						<a class="page-link" @click="getRooms(meta.pagination.current_page-1)" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item" 
						v-for="(page, index) in meta.pagination.total_pages"
						:key="index"
						:class="{'active':meta.pagination.current_page===page}">
						<a class="page-link" @click="getRooms(page)">{{page}}</a>
					</li>
					<li class="page-item" :class="{'disabled':!meta.pagination.links.next}">
						<a class="page-link" @click="getRooms(meta.pagination.current_page+1)" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div> 
</template>

<script>
import { mapActions } from 'vuex'
import RoomComponent from './room/Rooms.vue'
    export default {
        data () {
            return {
                index: null,
				message:null,
				meta: null,
				rooms: [],
            }
		},
		components:{RoomComponent},
		created() {
            this.getRooms(1)
		},
		watch: {
			'$route' () {
				this.getRooms(1)
			}
		},
        methods:{
			...mapActions({
                get_rooms: 'home/getRooms'
            }),
            getRooms(page){
				this.get_rooms({
					context:this,
					payload:{page:page}
				})
            }
        },
    }
</script>


<style lang="scss">
	a{
		cursor: pointer;
	}
	.pag{
		margin-left: auto;
    	margin-right: auto;
	}
	.card__container{
		box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	}
</style>