<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            Регистрация проходит с помощью телеграм бота, пожалуйста по нижней ссылке переходите к боту!
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="telegram-bt">
                <div class="text-call">
                    <a href="https://t.me/MitingRoomBot">
                        <img src="https://img.icons8.com/color/48/000000/telegram-app.png">
                    </a>
                </div>
            </div>   
        </div>
    </div>
    </div>
</template>




