<template>
        <!-- [ navigation menu ] start -->
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="#" class="b-brand">
                        <div class="b-bg">
                            <i class="feather icon-trending-up"></i>
                        </div>
                        <span class="b-title"><router-link :to="{name:'crm_home'}">MitingRoom</router-link></span>
                    </a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li>
                            <router-link :to="{name: 'rooms'}">
                                <span class="pcoded-micon">
                                    <i class="feather icon-box"></i>
                                </span>
                                <span class="pcoded-mtext">Все комнаты</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'room_create'}">
                                <span class="pcoded-micon">
                                    <i class="feather icon-aperture"></i>
                                </span>
                                <span class="pcoded-mtext">Создать комнату</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ navigation menu ] end -->
</template>