<template>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form @submit.prevent="submit">
                    <div class="alert alert-danger" v-if="errors.root">
                        {{ errors.root }}
                    </div>
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <i class="feather icon-unlock auth-icon"></i>
                        </div>
                        <h3 class="mb-4">Вход</h3>
                        <div class="input-group mb-3">
                            <input 
                                v-model="email" 
                                type="email" 
                                class="form-control" 
                                autocomplete="email" 
                                autofocus
                                placeholder="email">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="errors.email">
                                {{ errors.email[0] }}
                            </span>
                        </div>
                        <div class="input-group mb-4">
                            <input 
                                v-model="password" 
                                type="password" 
                                class="form-control" 
                                name="password" 
                                autocomplete="current-password" 
                                required
                                placeholder="Пароль">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="errors.password">
                                {{ errors.password[0] }}
                            </span>
                        </div>
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Запомнить детали</label>
                            </div>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Вход</button>
                        <p class="mb-2 text-muted"><a href="#">Забыли пароль?</a></p>
                        <p class="mb-0 text-muted">Не зарегистрированы ? <router-link :to="{name: 'register'}">Зарегитрироваться</router-link></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>



<script>
    import { mapActions } from 'vuex'
    import localforage from 'localforage'
    import { isEmpty } from 'lodash'

    export default {
        data () {
            return {
                email: null,
                password: null,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/login'
            }),
            submit () {
                this.login({
                    payload: {
                        email: this.email,
                        password: this.password
                    },
                    context: this
                }).then(() => {
                    localforage.getItem('intended').then((name) => {
                        if (isEmpty(name)) {
                            this.$router.replace({ name: 'rooms' })
                            return
                        }

                        this.$router.replace({ name: name })
                    })
                })
            }
        }
    }
</script>
