<template>
<div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form  @submit.prevent="submit">
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <i class="feather icon-user-plus auth-icon"></i>
                        </div>
                        <h3 class="mb-4">Регистрация</h3>
                        <div class="input-group mb-3">
                            <input v-model="name" type="text" class="form-control" autofocus placeholder="Имя">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="errors.name">
                                {{ errors.name[0] }}
                            </span>
                        </div>
                        <div class="input-group mb-3">
                            <input v-model="email" type="email" class="form-control" placeholder="e-mail">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="errors.email">
                                {{ errors.email[0] }}
                            </span>
                        </div>
                        <div class="input-group mb-4">
                            <input v-model="password" type="password" class="form-control" placeholder="Пароль">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="errors.password">
                                {{ errors.password[0] }}
                            </span>
                        </div>
                        <div class="input-group mb-4">
                            <input v-model="confirm_password" type="password" class="form-control" placeholder="Повторить пароль">
                        </div>
                        <div style="color:red;">
                            <span class="help-block" v-if="err">
                                {{ err}}
                            </span>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Регистрация</button>
                        <p class="mb-0 text-muted">У вас уже есть аккаунт ? <router-link :to="{name: 'login'}"> Вход</router-link></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>





<script>
import {mapActions} from 'vuex'

export default {
    data() {
        return {
            name: null,
            email: null,
            password: null,
            confirm_password: null,
            errors: [],
            err: null
        }
    },
    methods:{
        ...mapActions({
            register: 'auth/register'
        }),
        submit(){
            if(this.password != this.confirm_password){
                this.err = "Пароли не совподают!"
            }else{
                this.register({
                    payload:{
                        name: this.name,
                        email: this.email,
                        password: this.password,
                    },
                    context: this,
                }).then(() =>{
                    this.$router.replace({name: 'crm_home'})
                })
            }
        },
    },
}
</script>