<template>
    <div>
        <div v-if="message" class="alert alert-success" role="alert">
            {{message}}
        </div>
        <router-link :to="{name:'view_room', params:{id:room.id, title:room.title}}">
            <div class="card">
                <div class="card__container card__container--closed" :class="{'alert-card': room.status, 'alert-card-red': room.status==2}">
                    <svg class="card__image" viewBox="0 0 1920 500">
                        <image width="1920" height="500" xlink:href="img/a.jpg"></image>
                    </svg>
                    <div class="card__content">
                        <div class="card__caption">
                            <h2 class="card__title">{{room.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </router-link>
    </div>
</template>




<script>
    import { mapActions } from 'vuex'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        props:['room', 'clipPath', 'url'],
        data () {
            return {
                rooms: [],
                errors: [],
                isLoading: false,
                message: null,
                modal:false,
                room_id: null,
            }
        },
        components: {Loading},
        methods: {
            // ...mapActions({
            //     get_rooms: 'crm/rooms',
            // }),
            // submit () {
            //     this.isLoading = true;
            //     this.get_rooms({
            //         context: this
            //     }).then(() => {
            //         this.isLoading = false;
            //     })
            // },
            showModal(id){
                this.modal = true
                this.room_id = id
            },
            closeModal(){
                this.modal = false
                this.room_id = null
            }
        }
    }
</script>


<style lang="scss" scoped>
a{
    cursor: pointer;
}
p {
    margin-top: 0px;
}
 
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
.modal-container a{
    font-size: 16px;
    border-radius: 9px;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
</style>