<template>
<div>
    <loading :active.sync="isLoading"></loading>
    <div v-if="modal" class="modal" id="open-modal">
        <div class="modal-container">
            <p v-if="p">{{p}}</p>
            <ul class="list-group">
                <li v-for="(partner) in partners" :key="partner.id" class="list-group-item">{{partner.name}}</li>
            </ul>
            <button id="button" @click="closeModal()" class="btn btn-success mt-3">Закрыть</button>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Номер комнаты</th>
                <th scope="col">Название комнаты</th>
                <th scope="col">Начнется</th>
                <th scope="col">Закончится</th>
                <th scope="col">Участники</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(time_table,index) in time_tables" :key="index">
                <th scope="row">{{index+1}}</th>
                <td>{{time_table.title}}</td>
                <td>{{time_table.start}}</td>
                <td>{{time_table.finish}}</td>
                <td><button @click="showModal(time_table.id)" class="btn btn-success"><i class="fa fa-plus"></i> Показать</button></td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import { mapActions } from 'vuex'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    props:['time_tables'],
    data(){
        return{
            modal:false,
            partners:[],
            isLoading: false,
            p:null,
        }
    },
    components: {Loading},
    methods:{
        ...mapActions({
            getPartners: 'home/getPartners',
        }),
        showModal(id){
            this.isLoading = true
            this.getPartners({
                context:this,
                payload:{id:id}
            }).then(()=>{
                this.isLoading = false
                this.modal = true
            })
        },
        closeModal(){
            this.modal = false
            this.p = null
            this.partners.splice(0, this.partners.length)
        },
    },
}
</script>



<style lang="scss">
.modal-container {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    width: 40%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.modal-container p{
    font-size: 25px;
}
#button{
    position: relative;
    right: 0;
    left:67%;
    width:30%;
}
.modal {
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100% 
}
td{
    button{
        width: 97%;
    margin-left: 6%;
    }
}
</style>