<template>
<div class="container">
    <div class="row header">
        <div class="col-md-9">
            <p>Мои забронированные комнаты</p>
        </div>
    </div>
    <error-component :e="e" :message="message" :errors="errors"></error-component>
    <loading :active.sync="isLoading"></loading>
    <div v-if="modal" class="modal" id="open-modal">
        <div class="modal-container" style="top:5%;">
            <div>
                <p v-if="p">{{p}}</p>
                <VueCtkDateTimePicker
                    v-else 
                    label="Выберите дату и время" 
                    v-model="finish"
                    button-now-translation="Сейчас"
                    format="YYYY-MM-DD HH:mm">
                </VueCtkDateTimePicker>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex text-right">
                    <button id="button1" 
                        @click="p ? complete(): extend()" 
                        :class="{'btn-danger':p, 'btn-primary': !p}" 
                        class="btn mt-3">
                            <p>{{p ? 'Завершить':'Сохранить'}}</p>
                        </button>
                    <button id="button1" @click="closeModal()" class="btn btn-success ml-3 mt-3">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название комнаты</th>
                <th scope="col">Начнется</th>
                <th scope="col">Закончится</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(room,index) in rooms" :key="index">
                <th scope="row">{{index+1}}</th>
                <td>{{room.title}}</td>
                <td>{{room.start}}</td>
                <td>{{room.finish}}</td>
                <td>
                    <button @click="showModal(false, room.id, null, room.start, room.room_id)" class="btn btn-primary button">Продлить</button>
                    <button @click="showModal(true, room.id, index, null)" class="btn btn-danger button">Завершить</button>
                </td>
            </tr>
        </tbody>
    </table>
    <empty-component v-if="!rooms.length > 0"></empty-component>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'

export default {
    data(){
        return{
            rooms:[],
            isLoading: false,
            finish:null,
            start:null,
            modal: false,
            res_id:null,
            index: null,
            p: null,
            message: null,
            e:false,
            errors:[],
            room_id:null
        }
    },
    created(){
        this.showUserRooms()
    },
    components:{Loading, VueCtkDateTimePicker},
    methods:{
        ...mapActions({
            getUserRooms: 'home/getUserRooms',
            completeRoom: 'home/completeRoom',
            extendRoom: 'home/extendRoom',
        }),
        showUserRooms(){
            this.getUserRooms({
                context: this,
            })
        },
        complete(){
            this.completeRoom({
                context: this,
                payload:{id: this.res_id}
            }).then(()=>{
                this.closeModal()
                this.rooms.splice(this.index, 1)
                this.timer()
            })
        },
        extend(){
            this.extendRoom({
                context: this,
                payload:{id: this.res_id, finish: this.finish, start: this.start}
            }).then(()=>{
                this.closeModal()
                this.showUserRooms()
                this.timer()
            })
        },
        timer(){
            setTimeout(function () { this.message = null }.bind(this), 6000)
        },
        closeModal(){
            this.modal = false
            this.finish = null
            this.p = null
            this.start = false
        },
        showModal(t, id, i=null, start=null, room_id=null){
            if(t){
                this.p = 'Безвозвратное завершение, пожалуйста подтвердите действие!'
                this.index = i
            }
            this.room_id = room_id
            this.start = start
            this.res_id = id
            this.modal = true
        },
    }
}
</script>


<style lang="scss">
td{
    button{
        margin-left: 0;
    }
}
.button{
    width: 40%;
}
#button1{
    width: 100%;
    height: 35px;
    color: #fff;
    p{
        font-size: 14px;
    }
}

</style>