<template>
    <div class="container-fluid">
        <error-component :e="e" :message="message" :errors="errors" :alert="alert"></error-component>
        <div class="row header">
            <div class="col-md-9">
                <p>{{trigger ? p: 'Бронирование'}}</p>
            </div>
            <div class="col-md-3">
                <button @click="trigger = !trigger" class="btn btn-success mr-2">
                    <h6>{{trigger ? 'Забронировать':'Расписание'}}</h6>
                </button>
            </div>
        </div>
        <section v-if="!trigger">
            <loading :active.sync="isLoading"></loading>
            <div class="section-center">
                <div class="row justify-content-center">
                    <div class="booking-form">
                        <div class="col-md-12">
                            <span style="margin-left:-11px;" class="form-label">Поля со звёздочкамы обязательны!</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="stars">*</p>
                                    <VueCtkDateTimePicker 
                                        label="Бронирование от " 
                                        v-model="formData.start"
                                        button-now-translation="Сейчас"
                                        format="YYYY-MM-DD HH:mm">
                                    </VueCtkDateTimePicker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="stars">*</p>
                                    <VueCtkDateTimePicker
                                        id="timepic" 
                                        label="Бронирование до" 
                                        v-model="formData.finish"
                                        button-now-translation="Сейчас"
                                        format="YYYY-MM-DD HH:mm">
                                    </VueCtkDateTimePicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input v-model="partner" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button @click="setPartner()" class="btn btn-primary mt-1">Добавить участника</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group list">
                                    <li class="list-group-item d-flex" v-for="(p, index) in formData.partners" :key="index">
                                        <p>{{p}}</p><i @click="deletePartner(index)" class="fa fa-trash xicon"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span style="margin-left:3px;" class="form-label">Прикрепить файл</span>
                                <div class="form-group">
                                    <input  class="form-control" 
                                            type="file" 
                                            id="file" 
                                            ref="file" 
                                            v-on:change="handleFileUpload()">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-checkbox">
                                        <label for="roundtrip">
                                            <input v-model="formData.check" type="checkbox" id="roundtrip" name="flight-type">
                                            <span></span>Уведомление в телеграм
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-btn">
                                    <button @click="submit()" class="btn btn-success">Забронировать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <room-time-table v-if="trigger" :time_tables="time_tables"></room-time-table>
            </div>
        </div>
        <empty-component v-if="time_tables.length == 0 && trigger"></empty-component>
    </div>
</template>

<script> 
import { mapActions, mapGetters } from 'vuex'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import RoomTimeTable from './RoomTimeTable'

export default {
    data: function() {
        return {
            partner: null,
            formData: {
                start: null, 
                finish: null, 
                partners: [], 
                file: '', 
                check: null, 
                user_id: null,
                room_id:null,
            },
            message: null,
            isLoading: false,
            trigger: true,
            time_tables: [],
            p:"",
            e:false,
            alert:null,
            errors:[],
        }
    },
    created(){
        this.getTimeTable(this.$route.params.id)
    },
    components: {
        VueCtkDateTimePicker,
        Loading,
        RoomTimeTable,
    },
    watch: {
        'trigger' () {
            if(this.trigger){
                this.getTimeTable(this.$route.params.id)
                this.formData.start = null
                this.formData.finish = null
                this.formData.partners.splice(0,this.formData.partners.length)
                this.formData.file = null
                this.formData.check = null
                this.formData.user_id = null
                this.formData.room_id = null
                this.partner = null
            }
        }
    },
    methods: {
        ...mapActions({
            reserve: 'home/reserve',
            timeTable: 'home/timeTable'
        }),
        ...mapGetters({
            user: 'auth/user'
        }),
        setPartner(){
            if(this.partner){
                this.formData.partners.push(this.partner)
            }
        },
        deletePartner(i){
            this.formData.partners.splice(i,1)
        },
        handleFileUpload(){
            this.formData.file = this.$refs.file.files[0];
        },
        submit(){
            this.formData.room_id = this.$route.params.id
            let data = new FormData()
            data.append('file', this.formData.file)
            data.append('start', this.formData.start)
            data.append('finish', this.formData.finish)
            data.append('partners', this.formData.partners)
            this.formData.check = this.formData.check ? 1:0
            data.append('check', this.formData.check)
            data.append('user_id', this.formData.user_id)
            data.append('room_id', this.formData.room_id)
            this.isLoading = true
            this.reserve({
                context: this,
                payload: data
            }).then(() => {
                this.isLoading = false
                setTimeout(function () { this.message = null, this.errors = null, this.alert = null }.bind(this), 5000)
            })
        },
        getTimeTable(id){
            this.timeTable({
                context: this,
                payload: {id: id}
            })
        }
    },
    
}
</script>


<style lang="scss" scoped>
#timepic{
    z-index: 999999999;
    background: #fff;
    border-radius: 50%;
}
.stars{
    font-size: 20px;
    color: red;
    width: 14px;
    float: left;
    margin-left: -14px;
    margin-top: 13px;
}
.list li{
height: 34px;
padding: 0;
p{
    margin-left: 21px;
}
}
.dateInput{
    width: 100%;
}
.xicon{
    margin-left: 10%;
    margin-top: 7px;
    color:grey;
    font-size: 18px;
}
.btn{
    width: 100%;
    margin-left: 2px;
}
.header{
    margin: 23px;
    button{
        width:50%;
        position: relative;
        left: 20%;
    }
    p{
        font-size: 20px;
        position: relative;
        left: 8%;
    }
}
.alert1{
    p{
        color:red;
    }
}
</style>