<template>
    <nav class="navbar navbar-expand-lg">
        <router-link id="nav-link" class="nav-link" :to="{name:'home_page'}">MitingRoom</router-link>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link v-if="user.authenticated" id="nav-link" class="nav-link" :to="{name:'user_booking_rooms'}">Мои забронированные комнаты</router-link>
                    <router-link v-else class="nav-link" :to="{name:'register'}">Регистрация</router-link>
                </li>
                <li v-if="user.authenticated" class="nav-item">
                    <router-link class="nav-link" :to="{name:'profile'}">Профил</router-link>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" v-if="user.authenticated" href="#" @click.prevent="signout">Выход</a>
                    <router-link v-else class="nav-link" :to="{name:'login'}">Вход</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>


<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        computed: mapGetters({
            user: 'auth/user'
        }),
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
            signout () {
                this.logout().then(() => {
                    this.$router.replace({ name: 'login' })
                })
            }
        }
    }    
</script>

<style lang="scss">
#navbarNav{
    position: relative;
    right: 0;
    left:57%;
}
#nav-link{
    color:#fff;
}
nav{
    margin-bottom: 38px;
    background-color: #343A40;
    a{
        color:#fff;
    }
    a:hover{
        color:#fff;
    }
}
</style>